div {
    /* color: #010745; */
}
.searchBar > button, .searchBar > input{
border: 0;
background-color: #5D7AC1;
padding: 12px 15px;
margin: 10px;
}

.searchBar > input{
background-color: transparent;
border: none;
color: white;
outline-style: none;
}
.searchBar > input:focus{
    border-bottom: 1px solid #5D7AC1;
}