@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
  font-family: "Raleway", sans-serif;
}
.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
}

.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app__header{
  background-color: #7C9ED5;
  align-self: flex-start;
}

.app__main {
align-items: center;
background-color: #A5CDF0;
}

/*  Search bar */

/* Current weather */

/* div {
  border: 5px solid #7C9ED5;
} */
